// import _ from 'lodash';
import React, { PropTypes } from 'react';<% if(style){ %>
import styled from 'styled-components';<% if(style && elements){ %>
import { Title } from './elements';<% } %><% } %><% if(style && !elements){ %>

const Title = styled.div`
  color: palevioletred;
  font-size: 1.5em;
  text-align: center;
`;<% } %>

const Component = ({ children, ...props }) => (<% if(style){ %>
  <Title {...props}>
    Hello World!
  </Title><% } %><% if(!style){ %>
  <div {...props}>
    Hello World!
  </div><% } %>
);

Component.propTypes = {
  // onChange: PropTypes.func.isRequired,
};

Component.displayName = '<%= camelName %>Component';
export default Component;
