// import _ from 'lodash';
import React from 'react';<% if(style){ %>
import styled from 'styled-components';<% if(style && elements){ %>
import { Title } from './elements';<% } %><% } %><% if(style && !elements){ %>

const Title = styled.div`
  color: palevioletred;
  font-size: 1.5em;
  text-align: center;
`;<% } %>

const Component = ({ children, ...props }) => (<% if(style){ %>
  <Title {...props}>
    Hello World!
  </Title><% } %><% if(!style){ %>
  <div {...props}>
    Hello World!
  </div><% } %>
);

// class Component extends React.Component {
//   constructor(props) {
//     super(props);

//     this.state = { isActive: true };
//     this.myFunc = this.myFunc.bind(this);
//   }

//   myFunc() {
//     return 'Hello world!';
//   }

//   render() {
//     const { myFunc } = this;

//     return(
//       <div>
//         {myFunc()}
//       </div>
//     )
//   }
// };

// Component.propTypes = {
//   // onChange: PropTypes.func.isRequired,
// };

Component.displayName = '<%= camelName %>Component';
export default Component;
